.main-layout-container {
    display: flex;
    height: 100vh; /* full viewport height */
    background-color: #fafafa;

    .content-area {
        flex: 1;
        overflow-y: auto;
        margin-left: 280px;
    }
} 