.btn {
    padding: 16px 24px;
    border: 1px solid var(--color-green-500);
    border-radius: var(--radius-md);
    font-weight: var(--font-semibold);
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s, color 0.2s;

    &.outline {
        background: white;
        color: var(--color-green-500);

        &:hover {
            background: var(--color-green-500);
            color: #ffffff;
        }
    }

    &.filled {
        background: var(--color-green-500);
        color: white;

        &:hover {
            color: var(--color-green-500);
            background-color: #ffffff;
        }
    }
}
